name: Dispatcher Workflow

on:
  issues:
    types: [opened, reopened]

permissions:
  actions: write  
  issues: write
  contents: write
  pull-requests: write

jobs:
  dispatch-data-retrieval:
    if: contains(toJson(github.event.issue.labels), 'data retrieval')
    uses: ./.github/workflows/data-retrieval.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
    secrets:
      DATA_RETRIEVAL_SA: ${{ secrets.DATA_RETRIEVAL_SA }}
      TOKEN_PICKLE: ${{ secrets.TOKEN_PICKLE }}