name: Dispatcher Workflow

on:
  issues:
    types: [opened, reopened]

permissions:
  actions: write  
  issues: write
  contents: write
  pull-requests: write

jobs:
  dispatch-data-retrieval:
    if: contains(toJson(github.event.issue.labels), 'data retrieval')
    uses: ./.github/workflows/data-retrieval.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
    secrets:
      DATA_RETRIEVAL_SA: ${{ secrets.DATA_RETRIEVAL_SA }}
      TOKEN_PICKLE: ${{ secrets.TOKEN_PICKLE }}

  dispatch-add-admin-config:
    if: contains(toJson(github.event.issue.labels), 'add admin config')
    uses: ./.github/workflows/add_admin_config.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}
      
  dispatch-remove-admin-config:
    if: contains(toJson(github.event.issue.labels), 'remove admin config')
    uses: ./.github/workflows/remove_admin_config.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}

  dispatch-add-memory-config:
    if: contains(toJson(github.event.issue.labels), 'add memory config')
    uses: ./.github/workflows/add_memory_config.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}

  dispatch-remove-memory-config:
    if: contains(toJson(github.event.issue.labels), 'remove memory config')
    uses: ./.github/workflows/remove_memory_config.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}

  dispatch-add-shared-directories:
    if: contains(toJson(github.event.issue.labels), 'add shared directories')
    uses: ./.github/workflows/add_shared_directories.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}
  
  dispatch-remove-shared-directories:
    if: contains(toJson(github.event.issue.labels), 'remove shared directories')
    uses: ./.github/workflows/remove_shared_directories.yaml
    with:
      issue_number: ${{ github.event.issue.number }}
      app_id: ${{ vars.APP_ID }}
    secrets:
      PRIVATE_KEY_SECRET: ${{ secrets.PRIVATE_KEY_SECRET }}